* {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body {
  line-height: 1.5;
  font-family: "arial", "sans-serif";
  background-color: #1f1f1f;
}

#header {
  background-color: white;
}

#header img {
  float: left;
  margin: 0px 0px 2px 10px;
}

#header p {
  float: right;
  margin: 40px 10px 0px 0px;
  font-weight: bold;
}

#navbar {
  clear: both;
  background-color: #dde3e7;
  height: 70px;
  border-top: 1px solid black;
}

#navbar ul {
  display: flex;
  justify-content: center;
}

#navbar ul li {
  display: inline;
  padding: 3px 20px;
  border-right: 1px solid grey;
}

#navbar ul li a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
}

.bold {
  font-weight: bold;
}

h2 {
  background-color: #fed259;
  font-weight: bold;
  color: black;
  font-size: 11px;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#container{
	width: 1000px;
	margin: 0 auto;
}
#intro{
	display: flex;
	justify-content: space-between;
}
#building {
  margin: 15px 10px 0px 0px;
}

#about {
  width: 550px;
  height: 265px;
  background-color: grey;
  color: white;
  margin: 15px 0px 0px 10px;
  font-size: 12px;
  flex: 1;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 10px;
}

#about p {
  margin: 10px;
}

#midline {
  display: flex;
  margin-top: 8px;
}

#midline img {
  margin: 1px 20px 1px 0px;
}

#midline p {
  font-size: 10px;
  color: #f2af01;
  padding: 5px 10px;
}

#boxes {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.box {
  width: 222px;
  height: 250px;
  margin: 10px 0px 10px 0px;
  font-size: 10px;
  background-color: white;
}

.box p {
  margin: 5px 10px;
}

.box a {
  float: right;
  margin-right: 15px;
  background-color: #ffe500;
  color: black;
  text-decoration: none;
  padding: 2px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  border-bottom-right-radius: 180px;
  border-top-right-radius: 180px;
}
